development:
  adapter: mysql
  database: cg
  username: root
  password:
  host: localhost

test:
  adapter: mysql
  database: cg_temp_test
  username: root
  password:
  host: localhost

production:
  adapter: mysql
  database: cg
  username: root
  password: 
  host: localhost
