<%= form_remote_tag :url => update_notes_admin_coach_path(note) %>
	<%= text_area "notes", "notes", :rows => 5, :cols => 50, :value => note.notes, :class => "adminBorder" %>
	<%= submit_tag "submit changes" %>
</form>