<div class="adminPadding clearfix">
	<h3>Grading for <%= @facilitator.last_name %> Group</h3>

	<%= link_to "create new grading report", new_grading_admin_coach_path(@facilitator, :coach_id => @coach.id) %>
	<table width="500" cellpadding="0" cellspacing="0" border="0">
	<% @facilitator.gradings.each do |g| %>
		<tr>
			<td><%= g.created_at.strftime("%m-%d-%Y") %></td>
		</tr>
	<% end %>
	</table>
</div>