<p><label for="domain">Domain</label><br/>
<%= text_field :site, :domain %></p>

<p><label for="admin_contact">Admin Contact</label><br/>
<%= text_field :site, :admin_contact %></p>

<p><label for="admin_email">Admin Email</label><br/>
<%= text_field :site, :admin_email %></p>

<p><label for="admin_phone">Admin Phone</label><br/>
<%= text_field :site, :admin_phone %></p>